html(lang="en")

head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Arch Setup
body
  .reveal
    .slides
      section
        h4 Arch Setup
        p This is my personel repo containing my setup scripts for arch linux
        p But feel free to use them

        h6 Testing math
        p $$ c \not = {a + b \over a }$$

      section 
        h4 Shell and prompt
        p To install my zsh shell and starship prompt run the command below. This command uses pacman to fetch the required packages from Arch repos. To instal it on other linux distributions or any unix based systems run the command and do as it says.Note that it requires bash.
        h6 To Install ZSH and starship:
        pre
          code(data-trim, data-noescape)
            curl --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/vigneshpa/arch-setup/main/prompt.sh | bash

      section
        h4 Arch proot on termux
        p To install arch linux on termux and to run it every time when you open it, run the following command in termux shell after installing proot-distro (`pkg install proot-distro`) and archlinux (`proot-distro install archlinux`)
        p This script overwrites the .bashrc file in termux home and archlinux's root home. If you exit from the shell with 0 return code (e.g. `exit 0` or `exit`) the termux shell will also exit but if you exit with any non zero value the termux prompt will not close.

        h6 Setup arch linux on termux:
        pre
          code(data-trim, data-noescape)
            | curl --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/vigneshpa/arch-setup/main/termux.sh | bash
        p This script installs 'starship' in termux and arch and installs 'openssh' in termux. Tthe SSH Daemon (`sshd`) will be started every time when an user logs into termux
