html(lang='en')

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Inductors
body
  #header Visualising Current as angular velocity
  #content
    #sim
      #view
        img#flywheel(src=require("./flywheel.svg"))
    #controls
      | Current : 
      span#currentValue 0.0
      | A
      br
      progress(id="currentPgr" value="2")
      br
      label(for="voltage")
        | Voltage : 
        span#voltageValue 0.0
        | V
      br
      input(type="range" id="voltage" name="voltage" step="0.5" value="0" oninput="onVoltage(this.value)" autocomplete="off")
      br 
      input(type="checkbox" id="generateSine" onchange="onGenerateSine(this.checked)" autocomplete="off")
      label(for="generateSine") Generate Sine Wave (0.2Hz)
      br
      #circuitType
        h4 Select Circuit type:
        each inp,ind in {'Resistive':'Pure Resistor', 'Inductive':'Pure Inductor', 'InductiveCorrected':'Pure Inductor (initial current corrected)', 'ResInd':'RL Circuit'}
          input(type="radio" name="circuit" value=ind id=ind onchange="if(this.checked)onCircuitType(this.value);" checked=(ind==='Resistive') autocomplete="off")
          label(for=ind)=inp
          br
      h4 Circuit Constants
      | Inductance : 10H
      br
      | Resistance : 5Ω
      br
    #footer source code is avilable at 
      a(href='https://github.com/vigneshpa/slides/tree/main/src/presentations/inductor' target="_blank") GitHub.com