body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: balck;
  -webkit-tap-highlight-color: transparent;
}
#header{
  box-shadow: 0px 0px 5px black;
  color:rgb(48, 48, 48);
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding:0.5em 0.2em;
  font-size: 1.2em;
  z-index: 2;
}


#content{
  margin:0;
  margin-top:100px;
  margin-bottom:100px;
  padding:25px;
  
  display: grid;
  grid-template-columns: auto auto;
}
@media only screen and (max-width: 1000px){
  #content{
    grid-template-columns: auto;
  }
}

#controls{
  box-shadow: 0 0 3px black;
  border-radius: 1em;
  padding:1em;
  margin-top:30px;
  z-index: 0;
}

input[type='range'], progress{
  width:90%;
  max-width:300px;
  margin-bottom: 20px;
}
label{
  padding:5px 3px;
  display: inline-block;
  min-width:100px;
  text-align: center;
}

#flywheel{
  width:80%;
  max-width: 300px;
}

#sim{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#footer{
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  padding:0.3em;
  box-shadow: 0px 0px 2px black;
  background-color: rgba(255, 255, 255, 0.856);
  z-index: 1;
}